In [1]:
#RUN
from pandas import read_csv
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#RUN
ESG_DF_OG = pd.read_excel('data/output.xlsx')

In [6]:
for col in ESG_DF_OG.columns:
    print(col)

Entity
Name
Year
MSCI Rating
MSCI Environment Score
MSCI Social
MSCI Goverance
Entenched board
Related Party Transactions
Secuities Fraud
Threat of delisting
One share one vote
Majority Voting
Accounting Investigations
Late filings
Qualified Auditor Opinion
Controlling Shareholder
Freefloat
Largest insider
Insider Percentage Float
InsiderType
Largest outsider
Largest outsider %
MSCI Country
Country of Headquarters
Country of Incorporation
Country of Risk
Country of Top Geographical Revenue
GICS Sector
GICS Industry Group
GICS Industry
GICS Sub-Industry
Revenue
COGS inc. Depn & Amor
Costs
EBITDA
Net Income
Operating Margin
Payout Ratio
Net Cash from Operating Activity
Net Cash from Investing Activity
Net Cash from Financing Activity
Total Debt
Short Term Debt
Long Term Debt
Total Assets
Interest Expense
Receivables
Inventory
Intangibles
Sharesoutstanding
Environmental Disclosure Score
GRI Criteria Compliance
Global Reporting Initiatives Checked
Verification Type
GHG Scope 1
GHG Scope 2
Total GHG Emissions
GHG Scope 3
Travel Emissions (Th Tonnes)
VOC Emissions
ODS Emissions
Total Energy Consumption
Electricity Used
Renewable Energy Use
Fuel Used - Coal/Lignite
Fuel Used - Natural Gas
Fuel Used - Oil/Diesel
Biomass Fuel Use %
Total Water Use
Total Water Withdrawal
Municipal Water Use
Groundwater Withdrawals
Surface Water Withdrawal
Reclaimed Water Use
Total Water Recycled
% Water Recycled
Water Discharged
Chemical Oxygen Demand of Discharges
Total Waste
Hazardous Waste
Waste Recycled
Waste Sent to Landfills
Environmental Fines #
Environmental Fines $
Environmental Accounting Cost
Number of Sites
ISO 14001 Certified Sites
% Sites Certified
Renewable Electricity Target Policy
Energy Efficiency Policy
Emissions Reduction Initiatives
Environmental Supply Chain Management
Environmental Quality Management  Policy
Green Building Policy
Sustainable Packaging
Waste Reduction Policy
Water Policy
Biodiversity Policy
Climate Change Policy
New Products - Climate Change
Climate Change Opportunities Discussed
Risks of Climate Change Discussed
Social Disclosure Score
Number of Employees
Employee Turnover %
% Women in Workforce
% Women in Middle and or Other Management
% Women in Mgt
Gender Pay Gap Breakout
Workforce Accidents
Lost Time from Accidents
Lost Time Incident Rate
Total Recordable Incident Rate
Fatalities - Total
Fatalities - Employees
Fatalities - Contractors
Fatalities - Third Party
Social Supply Chain Management
Sustain Sup Guidelines Encomp ESG Area Pub Disclsd
Number of Supplier Audits Conducted
% Suppliers Audited
Corporate Cash Giving
Community Spending
Anti-Bribery Ethics Policy
Business Ethics Policy
Employee CSR Training
Employee Protection / Whistle Blower Policy
Equal Opportunity Policy
Fair Remuneration Policy
Health and Safety Policy
Human Rights Policy
Training Policy
Policy Against Child Labor
UN Global Compact Signatory
SDGs Target Policy
Governance Disclosure Score
Size of the Board
Unitary or Two Tier Board System
# Employee Representatives on Board
Classified Board System
# Non Exec Dir on Board
% Non Exec Dir on Board
# Independent Directors
% Independent Directors
CEO Duality
Independent Chairperson
Independent Lead Director
Presiding Director
Former CEO or its Equivalent on Board
# Women on Board
% Women on Board
Female Chief Executive Officer or Equivalent
Female Chairperson or Equivalent
# Executives / Company Mgrs
CEO or Equivalent Appointed from Within
# Female Executives
% Female Executives
Age of the Youngest Director
Age of the Oldest Director
Board of Directors Age Range
Board Average Age
Board Duration (Years)
Executive Director Board Duration
# Board Meetings
Board Meeting Attendance %
Independent Directors Board Meeting Attendance %
# Dir Attending Less than 75% of Mtgs
Size of Audit Committee
# Independent Dir on Audit Cmte
% Independent Dir on Audit Cmte
Independent Audit Committee Chairperson
# Non Exec Dir on Audit Cmte
Audit Committee Meetings
Audit Committee Meeting Attendance Percentage
Size of Compensation Committee
# Independent Dir on Comp Cmte
% Independent Dir on Comp Cmte
Independent Compensation Committee Chairperson
# Non Exec Dir on Comp Cmte
# Comp Committee Meetings
Compensation Committee Meeting Attendance %
Outside Compensation Advisors Appointed
Executive Compensation Consultant Srvcs Provided
Executive Comp Advisory Fees Pd to Comp Adv
Size of Nomination Committee
# Independent Dir on Nom Cmte
% of Ind Directors on Nomination Committee
Independent Nomination Committee Chairperson
# Non Exec Dir on Nom Cmte
# Nom Cmte Meetings
Nomination Committee Meeting Attendance Percentage
CSR/Sustainability Committee
Non-Executive Director with Responsibility for CSR
Executive Director with Responsibility for CSR
Executive Compensation Linked to ESG
ESG Linked Compensation for Board
Clawback Provision for Executive Compensation
Chg of Ctrl Benefits/Golden Parachute Agreements
Political Donations
Taxes Paid to Governments
Dual Class Unequal Voting Rights - Common Shares
Say On Pay Provision
Frequency of Say on Pay Votes
Say on Pay Support Level
Say on Pay Number of Votes FOR
Say on Pay Number of Votes AGAINST
Auditor Ratification
Auditor Ratification Number of Votes - FOR
Auditor Ratification Number of Votes - AGAINST
Years Auditor Employed
  Pension & Nonqual Defined Pension
  Total Other Compensation Paid
# of Exec Changes in Fiscal Year
Date of Last Executive Change
# Execs Included in Compensation
Total Compensation Paid
Total Salaries and Bonuses Paid
  Total Salaries Paid
  Total Bonuses Paid
All Other Compensation Paid
  Stock Awards Granted
  Pension & Nonqual Defined Pension.1
  Total Other Compensation Paid.1
# of CEO and Equiv Changes in FY
Date of Last CEO and Equiv Change
# CEO and Equiv Included in Comp
CEO Tenure at Fiscal Year End
Total Comp Paid to CFO and Equiv
Total Compensation Paid.1
  Fees Paid in Cash
  Stock Awards Granted.1
# of Board Changes in Fiscal Year
Date of Last Board Change
# Directors Included in Comp

In [26]:
#RUN
ESG_DF = ESG_DF_OG.copy()

In [ ]:
[cols  for cols in ESG_DF.columns]

In [ ]:
ESG_DF.describe()

In [ ]:
from re import search
for cols in esg_DF.columns:
    if not search('Compensation',cols) == None:
        print(cols)

In [27]:
#RUN
import numpy as np
ESG_DF = ESG_DF.replace(to_replace='—',value=np.nan)
ESG_DF = ESG_DF.replace(to_replace='',value=np.nan)
ESG_DF = ESG_DF.replace(to_replace='',value=np.nan)
ESG_DF = ESG_DF.replace(to_replace='#N/A Invalid Security',value=np.nan)

In [28]:
ESG_DF.isna().sum().sort_values(ascending=False)

% Suppliers Audited              1165
Biomass Fuel Use %               1133
Environmental Accounting Cost    1132
ODS Emissions                    1126
Fatalities - Third Party         1117
                                 ...
GICS Sector                         0
GICS Industry Group                 0
GICS Sub-Industry                   0
Name                                0
Entity                              0
Length: 235, dtype: int64

In [9]:
print(ESG_DF.isna().sum().sort_values(ascending=False).head(10))

Auditor Ratification Number of Votes - AGAINST    330
Auditor Ratification Number of Votes - FOR        329
Political Donations                               324
Auditor Ratification                              323
  Pension & Nonqual Defined Pension.1             321
Frequency of Say on Pay Votes                     313
GHG Scope 2                                       312
Say on Pay Number of Votes AGAINST                309
Say on Pay Support Level                          309
Say on Pay Number of Votes FOR                    309
dtype: int64

In [29]:
#RUN
drop_cols_nans = list(ESG_DF.columns[ESG_DF.isna().sum() > round(ESG_DF.count()/2)])
print(drop_cols_nans)

['GHG Scope 3', 'Travel Emissions (Th Tonnes)', 'VOC Emissions', 'ODS Emissions', 'Total Energy Consumption', 'Electricity Used', 'Renewable Energy Use', 'Fuel Used - Coal/Lignite', 'Fuel Used - Natural Gas', 'Fuel Used - Oil/Diesel', 'Biomass Fuel Use %', 'Total Water Use', 'Total Water Withdrawal', 'Municipal Water Use', 'Groundwater Withdrawals', 'Surface Water Withdrawal', 'Reclaimed Water Use', 'Total Water Recycled', '% Water Recycled', 'Water Discharged', 'Chemical Oxygen Demand of Discharges', 'Total Waste', 'Hazardous Waste', 'Waste Recycled', 'Waste Sent to Landfills', 'Environmental Fines #', 'Environmental Fines $', 'Environmental Accounting Cost', 'Number of Sites', 'ISO 14001 Certified Sites', '% Sites Certified', 'Renewable Electricity Target Policy', 'Employee Turnover %', '% Women in Middle and or Other Management', '% Women in Mgt', 'Gender Pay Gap Breakout', 'Workforce Accidents', 'Lost Time from Accidents', 'Lost Time Incident Rate', 'Total Recordable Incident Rate', 'Fatalities - Total', 'Fatalities - Employees', 'Fatalities - Contractors', 'Fatalities - Third Party', 'Number of Supplier Audits Conducted', '% Suppliers Audited', 'Corporate Cash Giving', 'SDGs Target Policy', 'Age of the Youngest Director', 'Age of the Oldest Director', 'Board of Directors Age Range', 'Board Average Age', 'Executive Comp Advisory Fees Pd to Comp Adv', 'Taxes Paid to Governments', 'Years Auditor Employed', '  Total Other Compensation Paid', 'Date of Last Executive Change', '  Stock Awards Granted', '  Total Other Compensation Paid.1', 'Date of Last CEO and Equiv Change', '  Stock Awards Granted.1']

In [30]:
#RUN
ESG_DF = ESG_DF.drop(drop_cols_nans,axis=1).copy()

In [31]:
ESG_DF.head(5)

,Entity,Name,Year,MSCI Rating,MSCI Environment Score,MSCI Social,MSCI Goverance,Entenched board,Related Party Transactions,Secuities Fraud,...,Pension & Nonqual Defined Pension.1,# of CEO and Equiv Changes in FY,# CEO and Equiv Included in Comp,CEO Tenure at Fiscal Year End,Total Comp Paid to CFO and Equiv,Total Compensation Paid.1,Fees Paid in Cash,# of Board Changes in Fiscal Year,Date of Last Board Change,# Directors Included in Comp
0,002BS2-E,3i Group plc,2008,AAA,7.14,7.26,8.27,0,0,0,...,NaN,0.00,1.00,3.75,1311000.00,719000.00,719000.00,2.00,20070723.00,8.00
1,002BS2-E,3i Group plc,2009,AA,6.78,7.73,6.07,0,0,0,...,NaN,1.00,2.00,0.25,774000.00,714000.00,714000.00,2.00,20080901.00,8.00
2,002BS2-E,3i Group plc,2010,BBB,4.89,4.94,5.05,0,0,0,...,NaN,0.00,1.00,1.25,293000.00,717000.00,717000.00,1.00,20091001.00,9.00
3,002BS2-E,3i Group plc,2011,A,4.46,7.01,5.22,0,0,0,...,NaN,0.00,1.00,2.25,802000.00,714000.00,714000.00,4.00,20110307.00,9.00
4,002BS2-E,3i Group plc,2012,AA,4.50,6.40,10.00,0,0,0,...,88000.00,0.00,1.00,3.25,732000.00,635000.00,635000.00,2.00,20120101.00,8.00

In [ ]:
#DROPPING HIGHLY CORRELATED FEATURES

In [ ]:
print(ESG_DF.nunique().sort_values(ascending=True).head(100))

Testing how to best ordinal encode with Nans in the Series:

In [ ]:
ESG_DF['% Suppliers Audited'].isna()

In [ ]:
ESG_DF['% Suppliers Audited'][ESG_DF['% Suppliers Audited']== '#N/A Invalid Security']= np.nan

In [ ]:
ESG_DF['% Suppliers Audited'] = pd.to_numeric(ESG_DF['% Suppliers Audited'],errors='raise')

Okay we can work with MSCI rating in temp series

In [ ]:
temp = ESG_DF['MSCI Rating'][ESG_DF['MSCI Rating'].isna()== False]

In [ ]:
temp1 = ESG_DF['MSCI Rating'][ESG_DF['MSCI Rating'].isna() == True]

In [ ]:
temp2 = ESG_DF['MSCI Rating'][ESG_DF['MSCI Rating'].isna() == False]

In [ ]:
pd.concat([temp1,temp2],ignore_index=False).sort_index()

In [32]:
new_DF = ESG_DF.copy()
from sklearn.preprocessing import OrdinalEncoder

num_ordinal   = 0
num_numerical = 0

encoder_dict = {}

for col in ESG_DF.columns:
    try:
        out = pd.to_numeric(ESG_DF[col],errors='raise')
        new_DF[col] = out 
        num_numerical+=1
    except:
        
        temp1 = ESG_DF[col][ESG_DF[col].isna() == True]
        temp2 = ESG_DF[col][ESG_DF[col].isna() == False]
        
        encoder_dict[col] = OrdinalEncoder()
        
        index_temp = temp2.index
        
        result = encoder_dict[col].fit_transform(temp2.to_numpy().reshape(-1, 1))
        temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
        
        
        ord_col_with_nans = pd.concat([temp1,temp2],ignore_index=False).sort_index()
        new_DF[col]       = ord_col_with_nans
        
        num_ordinal+=1

print(num_numerical,num_ordinal)

159 15

<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())
<ipython-input-32-8d7aa685d3f4>:24: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  temp2 = pd.Series(data=result.ravel(),index=index_temp.ravel())

In [51]:
new_DF.isna().sum().sort_values(ascending=False).sum()

20726

We have ~21k missing values of a total of ~204k total missing values

In [60]:
def logloss(yhat, y):
    return -1*(y*np.log(yhat) + (1-y)*np.log(1-yhat))

In [65]:
x =np.array([[0.1,0.5],[0.1,0.4]])
y =np.array([[0.1,0.5],[0.1,0.4]])
print(x)
print(y)
print(logloss(x,y))
np.log(x)

[[0.1 0.5]
 [0.1 0.4]]
[[0.1 0.5]
 [0.1 0.4]]
[[0.32508297 0.69314718]
 [0.32508297 0.67301167]]

array([[-2.30258509, -0.69314718],
       [-2.30258509, -0.91629073]])

checking our hash table has correctly stored the decoder for each catagorical feature!

In [33]:
[val for val in encoder_dict['MSCI Rating'].categories_]

[array(['A', 'AA', 'AAA', 'B', 'BB', 'BBB', 'CCC'], dtype=object)]

In [37]:
print(new_DF['MSCI Rating'].head(10))
new_DF['MSCI Rating'].isna().sum()

0    2.0
1    1.0
2    5.0
3    0.0
4    1.0
5    2.0
6    1.0
7    1.0
8    1.0
9    1.0
Name: MSCI Rating, dtype: object

87

Looks good!

In [ ]:
new_DF['Company'] = ESG_DF_OG['Name']

In [ ]:
new_DF['Company']

In [ ]:
# NEED TO RUN 
new_DF['Date of Last Board Change'] = pd.to_datetime(new_DF['Date of Last Board Change'], format='%Y%m%d', errors='coerce')
new_DF['Date of Last CEO and Equiv Change'] = pd.to_datetime(new_DF['Date of Last CEO and Equiv Change'], format='%Y%m%d', errors='coerce')
new_DF['Date of Last Executive Change'] = pd.to_datetime(new_DF['Date of Last Executive Change'], format='%Y%m%d', errors='coerce')
print(new_DF[['Date of Last Board Change','Date of Last CEO and Equiv Change','Date of Last Executive Change']].head(5))

In [ ]:
ratings = encoder_dict['MSCI Rating'].inverse_transform(new_DF['MSCI Rating'][new_DF['Year']==2019].fillna(value=0).to_numpy().reshape(-1, 1))
plt.figure(figsize=(20,5))
plt.bar(x=new_DF['Company'][new_DF['Year']==2019],height=ratings)
plt.ylabel()
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.hist(ratings)
plt.show()

### We now have all numerical data but we have Nans in the data set... we now need to impute values using K-means or another method

1. Use the Sklearn imbalance mask to create an array of where we have missing values
2. Impute the missing values using KNN
3. We cant use Nan values in our Modelling so we need to have imputed all missing values prior to modelling

In [ ]:
from sklearn.impute import KNNImputer 
dropped_dates = new_DF.loc[:,new_DF.columns.isin(['Date of Last Board Change','Date of Last CEO and Equiv Change','Date of Last Executive Change'])]
#dropped=new_DF.drop(new_DF.columns.difference(['Date of Last Board Change','Date of Last CEO and Equiv Change','Date of Last Executive Change']), 1, inplace=True)
df = new_DF.drop(['Date of Last Board Change','Date of Last CEO and Equiv Change','Date of Last Executive Change'],axis=1)
imputer = KNNImputer(n_neighbors=5)
imputer.fit(df)
df_out = imputer.transform(df)

In [ ]:
df_out.shape

In [ ]:
df.shape

In [ ]:
df_fin = pd.DataFrame(data=df_out,columns=df.columns)

### MAKING METADATA:

In [ ]:
metadata = pd.DataFrame(data=np.array([np.nan]*232).reshape(1,232),columns=df_fin.columns)
for col in df_fin.columns:
    print(col,len(df_fin[col].unique()))
    
    if len(df_fin[col].unique()) < 50:
        metadata[col] = 'cat'
    else:
        metadata[col] = 'num'

In [ ]:
#metadata.to_excel("metadata.xlsx",
#            sheet_name='Sheet_name_1')

In [ ]:
metadata = pd.read_excel("metadata.xlsx")

In [ ]:
metadata = metadata.drop('Unnamed: 0',axis=1)

In [ ]:
metadata

In [ ]:
df_fin['MSCI Rating'].astype('int64')

In [ ]:
df_fin['Freefloat'].astype('float64')

Changing Values to INT if they catagorical, and FLOAT if they numerical based on extracted metadata:

In [ ]:
for col in df_fin.columns:
    if metadata[col].item() == 'cat':
        df_fin[col] = df_fin[col].astype('int64')
    if metadata[col].item() == 'num':
        df_fin[col] = df_fin[col].astype('float64')

In [ ]:
df_fin

In [ ]:
df_array = df_fin.to_numpy()

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(df_array)
df_array_scaled = scaler.transform(df_array)

In [ ]:
df_fin_scaled = pd.DataFrame(data=df_array_scaled,columns=df_fin.columns)

In [ ]:
df_fin_scaled.tail(5)

Now we need to output the 1) dataframe (CSV) 2) Encoders (PICKLE) and 3) Minmax scalers (PICKLE)

In [ ]:
import pickle
# Store data (serialize)
with open('data/cat_encodrs.pickle', 'wb') as handle:
    pickle.dump(encoder_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
with open('data/minmax_scaler.pickle', 'wb') as handle:
    pickle.dump(scaler, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
# Load data (deserialize)
#with open('filename.pickle', 'rb') as handle:
#    unserialized_data = pickle.load(handle)

In [ ]:
df_fin_scaled.to_csv('data/esg_data_scaled')