In [29]:
import pandas as pd
import numpy as np

In [3]:
wine_df = pd.read_csv('data/wine.csv')
#dropping catagorical features, quality and type
wine_df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,wine_type
0,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,2
1,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,2
2,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,2
3,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,2
4,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1
6493,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1
6494,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1
6495,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1
6496,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,1

In [158]:
df = pd.concat([wine_df,pd.get_dummies(wine_df.quality,prefix='quality'),pd.get_dummies(wine_df.wine_type,prefix='wine_type')],axis=1)

In [159]:
df = df.drop(['quality','wine_type'],axis=1)

In [131]:
wine_df.wine_type.value_counts()

2    4898
1    1599
Name: wine_type, dtype: int64

In [132]:
wine_df.quality.value_counts()

6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: quality, dtype: int64

In [133]:
dfshape = df.shape

In [134]:
df.iloc[0,4]

0.045

Need to figure out some random locs to sub sample, we can do this based on a percentage of rows/colums or total points

In [135]:
def random_loc(data_frame_shape):
    col = np.random.randint(0,dfshape[1])
    row = np.random.randint(0,dfshape[0])
    return row,col

In [136]:
random_loc(dfshape)

(3570, 1)

In [137]:
random_loc(dfshape)[0]

2251

In [121]:
df.iloc[random_loc(dfshape)[0],random_loc(dfshape)[1]]

0.0

In [160]:
def induce_missingness(dataframe,percent):
    num2nan = int(dataframe.shape[0]*dataframe.shape[1]*percent)
    
    dfout = dataframe.copy()
    
    for _ in range(num2nan): 
        
        randloc = random_loc(dataframe.shape)
        
        while dfout.iloc[randloc[0],randloc[1]] == np.nan:
            randloc = random_loc(dataframe.shape)
            
        dfout.iloc[randloc[0],randloc[1]] = np.nan
        
        
    
    return dfout

In [170]:
dout = induce_missingness(df,0.01)
dout.isna().sum()

fixed_acidity           51
volatile_acidity        70
citric_acid             75
residual_sugar          75
chlorides               61
free_sulfur_dioxide     58
total_sulfur_dioxide    58
density                 69
pH                      70
sulphates               74
alcohol                 55
quality_3               76
quality_4               55
quality_5               73
quality_6               71
quality_7               68
quality_8               57
quality_9               63
wine_type_1             50
wine_type_2             60
dtype: int64

In [172]:
dout.isna().sum().sum()

1289

In [174]:
from Models.simple_VAE import VAE
from sklearn.preprocessing import MinMaxScaler
import argparse
import torch
import torch.utils.data 
from torch.utils.data import DataLoader
from torch import nn, optim
from torch.nn import functional as F
from torchvision import datasets, transforms
from torchvision.utils import save_image
import matplotlib.pyplot as plt

In [176]:
def RMSE(darray,recon):
    return np.sqrt(np.mean(np.square(darray - recon)))

In [177]:
data_iter = DataLoader(darray,batch_size=125, shuffle=True)

NameError: name 'darray' is not defined

In [178]:
dtensor = torch.FloatTensor(darray)

NameError: name 'darray' is not defined

In [175]:
   #Sending scaled data to device
device = torch.device("cpu")

    


model = VAE(num_feats = 232,latent_dims=10).to(device)

optimizer = optim.Adam(model.parameters(), lr=1e-4)
model.train()


loss_store = []
for epoch in range(500): 
    for (idx, batch) in enumerate(data_iter):
        
        
        batch_in = batch.float()
        
        
        drecon,mu,log_var =  model(batch_in)
        optimizer.zero_grad()
        loss = model.loss(drecon, batch_in)
        loss.backward()
        optimizer.step()


    loss_store.append(loss.item())

        # if epoch %100 == 0:
       
       
        #     print(loss.item())




    
plt.plot(loss_store)
plt.show()
drecon,mu,log_var =  model(dtensor)
recon_array = drecon.detach().numpy()
input_array = dtensor.detach().numpy()

RMSE(input_array,recon_array)

NameError: name 'data_iter' is not defined